<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <div class="post card mb-3 mt-3 mx-auto w-75">
            <img class="m-1 img-fluid" th:src="${post.getImage()}" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${post.getTitle()}"></h5>
                <p class="card-text" th:text="${post.getDescription()}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <h6 class="card-text" th:text="'Phone: '+${post.getContactNumber()}"></h6>
                <h6 class="card-text" th:text="'E-mail: '+${post.getContactMail()}"></h6>
                <p class="card-text" th:text="${post.city.getCity()}">Last updated 3 mins ago</p>
                <p class="card-text" th:text="'Posted by: '+${post.user.getUsername()}">Last updated 3 mins ago</p>
            </div>
        </div>
    </div>
</body>
</html>